.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.toggle-arrow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.example-sidenav {
  padding: 20px;
}

h2 {
  text-align: center;
}
