<mat-toolbar color="#211e23">
  <button mat-icon-button routerLink="/">
    <mat-icon>currency_exchange</mat-icon>
  </button>
  <span>Count Of Money</span>
  <span class="navbar"></span>
  <button routerLink="/user">User Cpn</button>
  <button routerLink="/admin">Admin Cpn</button>
  <button routerLink="/anonymous">Anonymous Cpn</button>
  <button routerLink="/press">Rss Cpn</button>
  <button routerLink="/fav-articles">Fav Rss Cpn</button>
  <button routerLink="/apicrypto">Api Crytpo</button>

  <button mat-icon-button routerLink="/login">
    <mat-icon>login</mat-icon>
  </button>
  <button mat-icon-button routerLink="/register">
    <mat-icon>how_to_reg</mat-icon>
  </button>
</mat-toolbar>
